.header-bg {

    padding: 80px 0px ;
    background: #fff;
}

.feature-block {
    background: #EFEFEF;
    padding: 40px 0px;
   }


.feature-block-display {
padding: 40px 0px;

}
.footer-bg {
    background: #231A31;
    padding: 40px 0px;
    color: #fff;

}